* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(255, 239, 209);
  font-family: sans-serif;
}

/******** Header Section ********/
.top-sections {
  background-color: #01a000;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-sections a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 2rem;
}

.logo-section {
  background-color: aliceblue;
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(240, 248, 255, 0.8);
}

.logo-section h1 {
  font-size: 4rem;
  color: orange;
}

#logo {
  width: 10rem;
  margin: 0.5rem;
}

#company-name {
  font-size: 4rem;
  color: #01a000;
}

.top-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1501167786227-4cba60f6d58f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFua3xlbnwwfHwwfHw%3D&w=1000&q=80")
    no-repeat center center/cover;
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.5rem;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
  background: rgb(255, 255, 255);
  border-radius: 5rem;
  width: 4rem;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: white;
  background-color: orange;
}

/******* Main Section ******/
.container {
  width: 100%;
  background-color: red;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 11px;
  }

  .top-sections {
    height: 3rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .top-main-section {
    align-items: end;
    height: 13rem;
  }

  .logo-section {
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    background: rgba(240, 248, 255, 0.8);
  }

  .login-section {
    /* background-color: red; */
  }

  .input-section {
    flex-direction: row;
  }
}
